https://ndn-cxx-breaks.ndn.today {
  bind [2604:9cc0:0:15ec::cf]
  tls internal
  encode gzip

  root * /home/web/ndn-cxx-breaks/public
  file_server
  php_fastcgi /*.php unix//run/php/php8.1-fpm.sock
}
